.header {
  background-image: url(../images/index/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
  }

  &__form {
    @media (max-width: 650px) {
      margin: 0 75px;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 482px) {
      margin: 0 150px 0 0;
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__select {
    border: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 19px;
    @extend %circe-800;
    padding: 0 27px 0 10px;
  }

  .jq-selectbox__trigger-arrow {
    top: 12px;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }

  .jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top-color: #fff;
  }

  .jq-selectbox li:hover {
    background-color: #eb9a17;
    color: #fff;
  }

  &__title-box {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }

  &__title {
    text-align: center;
    font-size: 80px;
    line-height: 1.125;
    color: #fff;
    max-width: 870px;
    font-weight: 800;

    @media (max-width: 906px) {
      font-size: 52px;
    }
    @media (max-width: 470px) {
      font-size: 34px;
    }
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 25px;
    position: relative;

    &--active {
      &::before {
        content: "";
        position: absolute;
        width: 62px;
        height: 15px;
        background-image: url(../images/line.png);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
  }
}
